@import 'styles/styles.scss';

.button {
  width: 180px;
  height: 37px;
  background: $primary-button-color;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

  font-family: $font-primary;
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  letter-spacing: 1.65px;
  color: $primary-button-text-color;
  text-transform: uppercase;

  &:disabled {
    opacity: 0.3;
  }
}
