@import 'styles/styles.scss';

.input {
  > label {
    font-family: $font-primary;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.65px;
  }

  &__box {
    box-sizing: border-box;
    width: 180px;
    height: 37px;
    border: 0.5px solid #060606;

    &::placeholder {
      font-family: $font-primary;
      font-weight: 600;
      font-size: 10px;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1.5px;
      color: #A6A6A6;
    }
  }

  &__error {
    margin-top: 6px;
    font-family: $font-primary;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.65px;
    color: #ff0000;
  }
}
