// Typography
$font-primary: 'Open Sans', Helvetica, Arial, sans-serif;

// Colors
$primary-color: #000000;
$secondary-color: #A6A6A6;
$danger-color: #FF0000;

$background-color-app: #2FBCF7;

$border-primary-color: #000000;
$border-secondary-color: #060606;

$primary-button-color: #000000;
$primary-button-text-color: #FFFFFF;
