@import 'styles/styles.scss';

.sign-up-page {
  > h1 {
    margin-bottom: 24px;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 3px;
    color: #000000;
  }

  &__footer-actions {
    margin-top: 18px;

    > hr {
      width: 121px;
      height: 1px;
      border: 0;
      border-top: 1px solid #000000;
      padding: 0;
      margin-bottom: 2px;
    }
  }

  &__bottom-link {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1.65px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
  }
}
