@import 'styles/styles.scss';

.login-page {
  > h1 {
    margin-bottom: 14px;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 3px;
    color: #000000;
    text-transform: uppercase;
  }

  > h2 {
    margin-bottom: 6px;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 18px;
    color: #212121;
  }

  p {
    width: 400px;
    text-align: center;
    font-family: $font-primary;
    font-size: 14px;
    color: #000000;
  }

  &__info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;
  }

  &__logo {
    margin-bottom: 10px;
  }

  &__small-link {
    display: block;
    margin-top: 14px;
    margin-bottom: 54px;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    color: #000000;
  }

  &__footer-actions {
    margin-top: 18px;

    > hr {
      width: 121px;
      height: 1px;
      border: 0;
      border-top: 1px solid #000000;
      padding: 0;
      margin-bottom: 2px;
    }
  }

  &__social-connect {
    display: block;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
  }

  &__bottom-link {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1.65px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
  }
}
